<!doctype html>

<html>
<head>
  <title>Shōki</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="manifest.json">
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="icon"
        type="image/png"
        href="images/logo.png">
  <link rel="import" href="src/elements.html">
  <link rel="stylesheet" href="style/style.css">
</head>
<body>
  <git-guard-app></git-guard-app>
</body>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="bower_components/particles.js/particles.min.js" crossorigin="anonymous"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/async/dist/async.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="scripts/d3.tip.js"></script>
</html>
